{erl_opts, [
  debug_info,
  fail_on_warning,
  {parse_transform, lager_transform},
  {lager_extra_sinks, [log]},
  {i, "include/"}
]}.

{eunit_opts, [verbose]}.

{relx, [{release, {traffic_light, "0.1.0"},
  [traffic_light, sasl, lager, gproc, yamerl, inets, elli]},

  {sys_config, "./etc/app.config"},
  {vm_args, "./etc/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.
{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_erts, true}]}]
}]}.


{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
  {gproc, ".*", {git, "http://github.com/esl/gproc.git", "master"}},
  {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
  {yamerl, ".*", {git, "https://github.com/yakaz/yamerl.git", "master"}},
  {elli, ".*", {git, "git://github.com/knutin/elli.git", "master"}},
  {uuid, ".*", {git, "git://github.com/okeuday/uuid.git", "master"}}
]}.


{overrides,
  [{override, jiffy, [
    {plugins, [pc]},
    {artifacts, ["priv/jiffy.so"]},
    {provider_hooks, [
      {post,
        [
          {compile, {pc, compile}},
          {clean, {pc, clean}}
        ]
      }]
    }
  ]}
]}.

