[
  {traffic_light,
    [
      {alphabet, [
        %%  0   1   2   3   4   5   6   7   8   9
        %%  -       -   -       -   -   -   -   -
        %% | |   |   |   | | | |   |     | | | | |
        %%          -   -   -   -   -       -   -
        %% | |   | |     |   |   | | |   | | |   |
        %%  -       -   -       -   -       -   -
        %%
        %%    -0
        %% 1 | | 2
        %%    -3
        %% 4 | | 5
        %%    -6
        {0, 2#1110111},
        {1, 2#0010010},
        {2, 2#1011101},
        {3, 2#1011011},
        {4, 2#0111010},
        {5, 2#1101011},
        {6, 2#1101111},
        {7, 2#1010010},
        {8, 2#1111111},
        {9, 2#1111011}
      ]}
    ]
  },

  {sasl, [
    {errlog_type, error}
  ]},

  {lager, [
    {handlers, [
      {lager_console_backend, debug}
    ]},

    {crash_log, undefined}
  ]}
].
